h1{
  font-weight: normal;
  font-size: 50px;
  color: White;
}

.link a{
  color: Aquamarine;
  font-size: 16px;
}
*{
  background-color: black;
  text-align: center;
  font-family: Verdana;
}

h2{
  font-weight: 300;
  font-size: 42px;
  color: white;
}

h3{
  font-size: 21px;
  color: gray;
}

#footer{
  text-align: right;
}
